<div class="grid">
    <div class="col-12 md:col-4 xl:col-3">
        <button pButton pRipple type="button" label="Back" icon="pi pi-chevron-circle-left" iconPos="left" class="p-button-raised p-button-warning" (click)="goBack()"></button>
    </div>
    <div class="col-12 md:col-8 xl:col-9 text-4xl" *ngIf="player !== undefined">
        Player: {{ player.name }}
    </div>
    <div class="col-12" *ngIf="player !== undefined">
        <div class="grid">
            <div class="col-12">
                <p-fieldset legend="Details">
                    <div class="font-bold">Username</div>
                    <div>{{ player.name }}</div>
                </p-fieldset>
            </div>
            <div class="col-12">
                <div class="flex justify-content-around">
                    <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-raised p-button-rounded p-button-warning" (click)="edit()"></button>
                </div>
            </div>
        </div>
    </div>
</div>